body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background: white;
    min-height: 100vh;
    min-width: auto;
    justify-content: center;
}

/* INICIO ENCABEZADO*/
.fprincipal{
    background-image: url("../imagenes/fprincipal.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 120px;
    padding-left: 120px;
    padding-right: 120px;
    
}

.header{
    display:flex;
    padding: 32px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gofly{
    align-self: top;
}

.inicioSesion{
    width: 230px;
    height: 35px;
    background: #7ACCB8;
    font-size: 18px;
    font-style:'Open Sans';
    color: #072B31;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
}


/* FIN ENCABEZADO*/
/* INICIO FORMULARIO CON EL USUARIO*/

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t1{
    width: 100%;
    height: 136px;
    display: block;
    flex-direction: column;
    margin-top: 54px;
    margin-bottom: 54px;
    
}

.t{
    font-size: 50px;
    color: #FFFFFF;
    border-radius: 100px;
    text-align: center;
    font-style:'Open Sans';
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 48px;
    background-color: #FFFFFF;
    border-radius: 80px;
    align-items: center;
    justify-content: center;
}

.tviaje{
    display: flex;
    align-items: center;
}

#circi, #circiv{
    width: 24px;
    height: 24px;
    background-color: #FFFFFF;
    border-radius: 50%;
    border:1px solid #072B31;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#circ2{
    width: 12px;
    height: 12px;
    background-color: #072B31;
    border-radius: 50%;
}


select {
    padding: 5px 8px;
    border-radius: 100px;
    background-color: #FFFFFF;
    border:1px solid #072B31;
    width: 200px;
    font-style:'Open Sans';
    font-size: 16px;
    color: #072B31;
    font-weight: 600;
    text-align: center;
  }

  input[type=date] {
    padding: 5px 8px;
    width: 180px;
    border-radius: 100px;
    background-color: #FFFFFF;
    border:1px solid #072B31;
    font-style:'Open Sans';
    font-size: 16px;
    color: #072B31;
    font-weight: 600;
    text-align: center;
  }

  input[type=text] {
    width: 183px;
    padding: 5px 8px;
    border-radius: 100px;
    background-color: #FFFFFF;
    border:1px solid #072B31;
    font-style:'Open Sans';
    font-size: 16px;
    color: #072B31;
    font-weight: 400;
    text-align: center;
  }

.tit{
    font-style:'Open Sans';
    font-size: 18px;
    color: #072B31;
    font-weight: bold;
    margin: 16px;
}

.recorrido{
    display: flex;
}

.vuelo{
    font-style:'Open Sans';
    font-size: 30px;
    color: #072B31;
    font-weight: bold;
    align-self:center;
}

.tviaje{
display: flex;
margin: 16px;
align-self: center;
}

    
.cantytipo{
        display: flex;
        margin: 16px;
        justify-content: space-between;
  }

.fechax{
    display: flex;
    justify-content: center;
}

label{
    align-self: center;
}

.fini{
    display: flex;
    flex-direction: column;
}

.ffin{
    display: flex;
    flex-direction: column;
}

.sorigen{
    display: flex;
    justify-content: center;
}
.sdestino{
    display: flex;
    justify-content: center;
}

.uno{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.cantytipo{
    display: flex;
    justify-content: center;
}

#buscar{
    width: 400px;
    height: 32px;
    background: #003D4C;
    font-size: 14px;
    font-style:'Open Sans';
    color: #FFFFFF;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
}


/* FIN FORMULARIO CON EL USUARIO*/

/* INICIO MUESTRA DE LA PAGINA*/
.clientes{
    display: flex;
    background: #FFFFFF;
    justify-content: center;
    padding: 48px;
}

.p{
    height: 40px;
    justify-content: center;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
    align-items: center;
}

.titulo{
    font-style:'Open Sans';
    font-size: 32px;
    color: #072B31;
    font-weight: bold;
    text-align: center;
}

.desc{
    font-style:'Open Sans';
    font-size: 18px;
    color: #072B31;
}

/* FIN MUESTRA DE LA PAGINA*/
/* INICIO MUESTRA DE SITIOS RECOMENDADOS*/
.srecom{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    
}

.t2{
    background-color: #FFFFFF;
    font-style:'Open Sans';
    font-size: 45px;
    color: #072B31;
    font-weight: bold;
    text-align:left;
    margin-left: 74px;
}

.gimg{
    display:flex;
    flex: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
}

#img1, #img2, #img3{
    border-radius: 50px;
    margin-left: 32px;
    margin-right: 32px;
}

/* FIN MUESTRA DE SITIOS RECOMENDADOS*/
/* INICIO MUESTRA DE PAQUETES EXCLUSIVOS*/
.pexclusivos{
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.t3{
    background-color: #FFFFFF;
    font-style:'Open Sans';
    font-size: 45px;
    color: #072B31;
    font-weight: bold;
    text-align:left;
    margin-left: 74px;
}

.imgs2{
    display:flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}

.img2{
    flex: 1 1 auto;
    border-radius: 50px;
    margin-bottom: 18px;
    margin-left: 24px;
    margin-right: 24px;
    
}
/* FIN MUESTRA DE PAQUETES EXCLUSIVOS*/
/*INICIO SUSCRIPCION*/

.ofexclusivas{
    display: flex;
    flex-direction: column;
    background-color: #072B31;
    padding: 24px;
}

.t4{
    font-style:'Open Sans';
    font-size: 45px;
    color: #FFFFFF;
    font-weight: bold;
    text-align:left;
    padding: 24px;
    align-self: center;
}

.botones{
    display: flex;
    align-self: center;
}

.boton1{
    flex: 2;
    font-style:'Open Sans';
    font-size: 18px;
    color: #7ACCB8;
    font-weight: bold;
    width: 460px;
    border-radius: 50px;
    background-color: #072B31;
    height: 36px;
    margin-right: 16px;
}

.boton2{
    flex: 1;
    font-style:'Open Sans';
    font-size: 18px;
    color: #072B31;
    font-weight: bold;
    width: 250px;
    border-radius: 50px;
    background-color: #7ACCB8;
    height: 36px;
}

.poli{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 24px;
}

.politicaP{
    font-style:'Open Sans';
    font-size: 22px;
    color: #FFFFFF;
}

/*FIN SUSCRIPCION*/
/*INICIO BOTTOM*/

.bottom{
    display: flex;
    padding: 36px;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: start;
}

.min{
    font-style:'Open Sans';
    font-size: 18px;
    color: #072B31;
}

.acercade, .informacionU, .socialMedia{
    padding: 36px;
}

.redes{
    margin-top: 16px;
}
/*FIN BOTTOM*/